
/*	general	*/

section{
    padding: 50px 0;
}

/*	gallery */

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #3F6184;
	padding:5px 10px;
    text-align: center;
    color: #3F6184;
    margin-bottom: 30px;
	background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#3F6184;
	outline:none;
}
.gallery_product{
    margin: 0px;
	padding: 10px;
	position:relative;
}
.gallery-img{
    width: 100%;
    height: auto;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}



.main-modal-content{
    /*background-color: rgb(180, 180, 180)!important;*/
    background-color: #607d8b!important;
    height: 650px;
    border-radius: 0;
}
.main-modal-header{
    color: floralwhite;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.modal-header-mail{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#exampleModalCenter{
    overflow-y: hidden!important;
}
.bs-example-modal-sm{
    overflow-y: hidden!important;
}
.modal-body-mail{
    padding-top: 5px!important;
}
.validation-msg{
    padding: 10px;
}

.thumb{
    border: 1px solid black;
    padding: 0px;
  }
  .main-modal-footer{
    border-top: none;
    margin-top: 10px;
  }
  .thumb .footer-thumb{
      width: 100%!important;
      height: 100%!important;
      object-fit: contain;
  }
  .button-right{
      text-align: right;
      padding-right: 0px;
  }
  .button-left{
      padding-right: 0px;
  }

  button .close:hover{
    color: rgb(240, 255, 249)!important;
  }

.email-container{
    margin: auto;
}
.btn-email{
    height: 35px;
    width: 100%;
}

.email-field{
    float: right;
}

.email-input{
    
    outline: none!important;
    border-left: 5px solid red!important;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.email-valid{
    border-left: 5px solid green!important;
}

.simple-keyboard {
    width: auto!important;
    display: none;
  }
  .show-kb{
      display: block;
  }
  .hg-layout-shift{
    display: block;
  }

  /*player*/

  .icon-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  /*media query*/
  @media only screen and (max-width: 410px) {
    .main-modal-content{
        height: 550px;
    }
    .icon-bar a {
        padding: 5px;
        font-size: 14px;
      }
    .fa-paper-plane{
        display: none;
    }
  }