/*

1. General Styles.
2. Responsive Styles.
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* -----------------------------------
    1 - General Styles
------------------------------------*/
*, body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.form-body {
    background-color: #0093FF;
    height: 100%;
}

.form-body > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
}

.website-logo img {
    width: 100px;
}

.website-logo a {
    display: inline-block;
}

.website-logo .logo {
    display: inline-block;
    background-image: url("../../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.website-logo .logo img {
    width: 100px;
}

.website-logo .logo img.logo-size {
    opacity: 0 !important;
}

.website-logo-inside {
    margin-bottom: 70px;
}

.website-logo-inside img {
    width: 100px;
}

.website-logo-inside a {
    display: inline-block;
}

.website-logo-inside .logo {
    display: inline-block;
    background-image: url("../../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.website-logo-inside .logo img {
    width: 100px;
}

.website-logo-inside .logo img.logo-size {
    opacity: 0 !important;
}

.preview-body {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.preview-body .web-logo {
    margin-bottom: 50px;
}

.preview-body .web-logo img {
    width: 130px;
}

.preview-body .web-title {
    font-size: 30px;
    font-weight: 300;
    color: #000;
    line-height: 35px;
    margin-bottom: 50px;
}

.preview-body .img-link {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 0 5px;
}

.preview-body .img-link img {
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.38);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.38);
    -webkit-transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 0.5s cubic-bezier(0.34, 1.61, 0.7, 1);
}

.preview-body .img-link:hover img, .preview-body .img-link:focus img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 11px 19px rgba(0, 123, 255, 0.18);
    box-shadow: 0 11px 19px rgba(0, 123, 255, 0.18);
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    min-height: 700px;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    padding: 60px;
    text-align: center;
    z-index: 999;
}

.img-holder .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-holder .info-holder h3 {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 30px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px;
}

.img-holder .info-holder p {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px;
}

.img-holder .info-holder img {
    width: 100%;
    max-width: 378px;
}

.img-holder .info-holder.simple-info h3 {
    padding-right: 0;
}

.img-holder .info-holder.simple-info p {
    padding-right: 0;
}

.img-holder .info-holder.simple-info img {
    max-width: 160px;
    margin-bottom: 50px;
}

.img-holder .bg {
    position: absolute;
    /*opacity: 0.8;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/cover.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media (min-height: 700px) {
    .img-holder {
        position: fixed;
    }

    .website-logo {
        position: fixed;
    }
}

.form-holder {
    margin-left: 550px;
    width: 100%;
    height: 100vh;
    top: 0;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100%!important;
}

.form-holder .form-content ::-webkit-input-placeholder {
    color: #526489;
}

.form-holder .form-content :-moz-placeholder {
    color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
    color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
    color: #526489;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
    color: #526489;
}

.form-control :-moz-placeholder {
    color: #526489;
}

.form-control ::-moz-placeholder {
    color: #526489;
}

.form-control :-ms-input-placeholder {
    color: #526489;
}

.form-content {
    position: relative;
    background-color: #23394A;
}

.form-content .form-group {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: red;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.form-content p.form-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
}

.form-content label {
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
    margin-right: 0;
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a.active:after {
    background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
    background-color: #fff;
}

.form-content select, input, .form-content .dropdown-toggle.btn-default {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 14px;
}

.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
    border: 0;
    background-color: #ebeff8;
    color: black;
}
.form-content .form-button {
  margin-top: 30px;
  margin-bottom: 25px;
}



/* -----------------------------------
    2 - Responsive Styles
------------------------------------*/
@media (max-width: 992px) {
    .img-holder {
        display: none;
    }

    .form-holder {
        margin-left: 0;
    }

    .form-holder .form-content {
        padding: 125px 60px 60px;
    }

    .form-body.on-top .form-holder .form-content, .form-body.on-top-mobile .form-holder .form-content {
        padding: 60px;
    }

    .website-logo {
        top: 50px;
        left: 50px;
        right: initial;
        bottom: initial;
    }

    .website-logo .logo {
        background-image: url("../../assets/images/logo.png");
    }

    .form-body.without-side .img-holder {
        display: inline-block;
    }

    .form-body.without-side .website-logo .logo {
      background-image: url("../../assets/images/logo.png");
    }

    .form-body.without-side .form-holder .form-content {
        padding: 125px 30px 60px;
    }

    .form-body.on-top-mobile .website-logo {
        position: absolute;
    }

    .form-body.on-top-mobile .img-holder {
        display: block;
        position: relative;
        width: 100%;
        min-height: initial;
        height: initial;
        overflow: initial;
        padding: 40px;
    }

    .form-body.on-top-mobile .img-holder .info-holder.simple-info h3 {
        margin-bottom: 16px;
    }

    .form-body.on-top-mobile .img-holder .info-holder.simple-info p {
        margin-bottom: 10px;
    }

    .form-body.on-top-mobile .img-holder .info-holder.simple-info img {
        margin-bottom: 20px;
    }

    .form-body.on-top-mobile .form-holder {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .form-body.on-top .img-holder, .form-body.on-top-mobile .img-holder {
        padding: 90px 40px 40px;
    }

    .form-content .row.top-padding .form-button {
        text-align: left !important;
        margin-top: 30px;
    }
}

/*previous design
.button-container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 200px;
    
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 160px;
    color: black;
    border: 2px solid black;
}

i{
    color: rgb(18, 144, 167);
}

.button-col{
    margin-left: 10px;
    padding: 0px;
}
.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    background-color:#17ACC6;
    border: 2px solid black;
    color: white;
    padding: 12px;
    text-align: center;
     margin-left: -105px;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    border-radius: 5px;
  
  }
  
  .button a {
    text-decoration: none;
    color: white;
  }
  
  .button:hover {
    border: 2px solid gray;
  }
  
  .divider{
    width:25px;
    height:auto;
    display:inline-block;
  }
  
  
    .settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    background-color: #17ACC6;
    border: 2px solid black;
    color: white;
    padding: 12px;
    margin-left:155px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    border-radius: 5px;
  }
  
  .settings a {
    text-decoration: none;
    color: white;
  }
  
  .settings:hover {
    border: 2px solid gray;
  }
  */